In [1]:
import pandas as pd
import seaborn as sns

In [2]:
walmart = pd.read_csv('data/train.csv')

In [3]:
walmart.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [4]:
walmart.shape

(647054, 7)

In [5]:
walmart.columns

Index(['TripType', 'VisitNumber', 'Weekday', 'Upc', 'ScanCount',
       'DepartmentDescription', 'FinelineNumber'],
      dtype='object')

In [14]:
walmart['TripType'].value_counts()

40     174164
39      95504
37      38954
38      29565
25      27609
7       23199
8       22844
36      21990
44      20424
42      19468
24      18015
999     17590
9       16820
32      13843
5       13836
35      12501
33       9918
15       7147
3        6827
43       6383
41       5508
30       4861
34       4751
27       4613
21       4032
22       3592
6        3405
20       3116
18       2977
28       2664
26       2507
12       2108
29       2105
31       1765
19       1188
4         901
23        325
14         35
Name: TripType, dtype: int64

In [16]:
walmart['Weekday'].value_counts()

Sunday       133975
Saturday     122096
Friday        96247
Monday        83130
Tuesday       72529
Wednesday     71115
Thursday      67962
Name: Weekday, dtype: int64

In [17]:
walmart['Upc'].value_counts()

4.011000e+03    7657
6.053886e+10    2501
7.874235e+09    2067
7.874235e+09    1883
4.046000e+03    1652
6.811311e+10    1515
6.053887e+10    1487
3.338320e+09    1405
4.087000e+03    1370
6.053887e+10    1343
4.900000e+09    1018
4.062000e+03     973
4.065000e+03     953
4.900003e+09     896
3.338365e+09     856
7.874235e+09     828
4.900005e+09     815
6.811316e+10     778
6.053890e+10     778
4.078000e+03     750
6.992216e+10     745
7.874211e+09     719
4.093000e+03     698
4.900001e+09     697
2.096650e+10     686
6.053882e+10     644
7.874235e+09     622
4.051000e+03     620
7.225004e+09     618
3.151000e+03     561
                ...
8.229824e+10       1
8.229824e+10       1
8.857921e+10       1
5.210075e+09       1
8.817760e+10       1
8.817760e+10       1
8.817760e+10       1
8.817760e+10       1
6.460071e+10       1
8.817760e+10       1
2.170901e+09       1
8.229824e+10       1
2.170901e+09       1
2.170901e+09       1
2.800047e+09       1
8.857921e+10       1
3.426447e+09       1
2.170901e+09       1
7.255446e+09       1
8.817760e+10       1
7.867814e+09       1
8.229824e+10       1
7.867814e+09       1
7.867814e+09       1
2.170901e+09       1
8.229824e+10       1
3.426447e+09       1
1.326149e+09       1
8.229824e+10       1
6.893443e+10       1
Name: Upc, dtype: int64

In [21]:
tt= walmart['TripType'].unique()

In [22]:
sorted(tt)

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 14,
 15,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 999]

In [25]:
tt.size

38

In [ ]:
sns.swarmplot(x="Weekday", y ="TripType", data=walmart)