In [5]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
train_data = pd.read_csv("data/train.csv")
train_data.shape

(647054, 7)

In [6]:
train_data.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [7]:
print train_data.count()

train_data=train_data.dropna()
print train_data.count()
print train_data.T.apply(lambda x: x.nunique(),axis=1)

SyntaxError: invalid syntax (<ipython-input-7-6dd22cb0f819>, line 1)

In [9]:
train, test = train_test_split(train_data, test_size = 0.2)
test=test.dropna()
train=train.dropna()
train_data = train
train_data.describe()

,TripType,VisitNumber,Upc,ScanCount,FinelineNumber
count,514328.000000,514328.000000,5.143280e+05,514328.000000,514328.000000
mean,58.313716,96205.436410,3.054851e+10,1.110612,3729.617738
std,156.476123,55572.674831,9.102306e+10,0.703820,2781.405863
min,3.000000,5.000000,8.340000e+02,-12.000000,0.000000
25%,27.000000,49282.000000,3.400001e+09,1.000000,1404.000000
50%,39.000000,97101.000000,7.048600e+09,1.000000,3353.000000
75%,40.000000,144413.000000,3.006501e+10,1.000000,5501.000000
max,999.000000,191347.000000,9.789707e+11,71.000000,9998.000000

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
walmart_rf = RandomForestClassifier(n_estimators=100)

In [12]:
train_data.describe()

,TripType,VisitNumber,Upc,ScanCount,FinelineNumber
count,514328.000000,514328.000000,5.143280e+05,514328.000000,514328.000000
mean,58.313716,96205.436410,3.054851e+10,1.110612,3729.617738
std,156.476123,55572.674831,9.102306e+10,0.703820,2781.405863
min,3.000000,5.000000,8.340000e+02,-12.000000,0.000000
25%,27.000000,49282.000000,3.400001e+09,1.000000,1404.000000
50%,39.000000,97101.000000,7.048600e+09,1.000000,3353.000000
75%,40.000000,144413.000000,3.006501e+10,1.000000,5501.000000
max,999.000000,191347.000000,9.789707e+11,71.000000,9998.000000

In [26]:
train_edit = train_data

In [27]:
from sklearn import preprocessing

In [28]:
le_DD = preprocessing.LabelEncoder()

In [30]:
train_edit.DepartmentDescription = le_DD.fit_transform(train_edit.DepartmentDescription)

In [32]:
le_Days = preprocessing.LabelEncoder()

In [33]:
train_edit.Weekday = le_Days.fit_transform(train_edit.Weekday)

In [ ]:
walmart_rf = walmart_rf.fit(train_edit[["VisitNumber", "Weekday", "Upc","ScanCount","DepartmentDescription","FinelineNumber"] ],train_edit["TripType"])